<fieldset>
    <legend>{% trans 'Board Search Results' %}</legend>
    <form method="post" action="?/search_boards" style="margin-bottom:10px;">
        <input type="text" name="query" value="{{ query|e }}" placeholder="{% trans 'Search boards' %}" required>
        <button type="submit">{% trans 'Search' %}</button>
    </form>
    <ul>
        {% for board in boards %}
            <li>
                <a href="?/{{ config.board_path|sprintf(board.channel, board.uri) }}{{ config.file_index }}">{{ config.board_abbreviation|sprintf(board.uri) }}</a>
                - {{ board.title|e }}
                {% if board.subtitle %}
                    <small>&mdash; {{ board.subtitle|e }}</small>
                {% endif %}
                {% if mod|hasPermission(config.mod.manageboards) %}
                    <a href="?/edit/{{ config.board_path|sprintf(board.channel, board.uri)|trim('/') }}"><small>[{% trans 'edit' %}]</small></a>
                {% endif %}
                {% if mod|hasPermission(config.mod.edit_pages) %}
                    <a href="?/edit_pages/{{ config.board_path|sprintf(board.channel, board.uri)|trim('/') }}"><small>[{% trans 'pages' %}]</small></a>
                {% endif %}
                {% if mod %}
                    <a href="?/{{ config.board_path|sprintf(board.channel, board.uri) }}archive/"><small>[{% trans 'archive' %}]</small></a>
                {% endif %}
            </li>
        {% else %}
            <li>{% trans 'No boards found.' %}</li>
        {% endfor %}
    </ul>
</fieldset>